*.txt
*.csv
*.log
*.json
*.xlsx
Backup/
Keep/
KQL/
AZLOGS/
config/config.yaml
config/regex.yaml
config/columns.yaml
__pycache__/
config/whitelist.yaml
config/IPs.yaml
sample.md
frMOD.py
matcher.py
.aider*
api_manager.py
/v3
